:root {
    --tea-green: #c9e4ca;
    --muted-teal: #87bba2;
    --pacific-cyan: #55828b;
    --dark-slate-grey: #3b6064;
    --charcoal-blue: #364958;

    --background: #f8faf9;
    --surface: #ffffff;
    --text-primary: #364958;
}
